<!Doctype html>
  <html>
  <head>
    <meta charset= 'utf-8'>
    <title>Договір куплі-продажу</title>
    <link rel='stylesheet' type='text/css' href='contract.css'>
  </head>
  <body>
    <div class='A4-size'>
      <div class='document'>
        <div class='title'>
          <h2>Договір</h2>
          куплі-продажу
        </div>
        <p class='left'>м. <%= $data[:town] %></p> <p class='right'><%= $data[:time] %></p>
        <text><%= $data[:enterprise_name] %>, іменоване надалі  "Продавець" в особі <%= $data[:seller_name] %>,
          , іменоване надалі  "Покупець" в особі <%= $data[:buyer_name] %>
          (посада, П.І.П.), уклали даний Договір про наступне:

          <% titles.each do |title, items| %>
            <h4><%= title %></h4>

            <% items.each do |item|%>
              <p><%= item %></p>
            <% end %>

          <% end %>


          </text>
          <table style='width: 100%'>
            <tr>
              <td>
                <div>
                  <p>Продавець</p>
                  <p>______________</p>
                  <p>М. П. </p>
                </div>
              </td>
              <td>
                <div style='text-align: right'>
                  <p>Покупець</p>
                  <p>______________</p>
                  <p>М. П. </p>
                </div>
              </td>
            </tr>
          </table>

        </div>
      </div>
    </body>
  <html>
